.btnCadUsuario {
    margin: 10px;
}

.btn {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 90px;
}

.xxx {
    width: 400px;
    margin-right: 10px;
}

.cabecalhoTabela {
    background: #1cb0f6;
}

.table {
    margin-top: 40px;
}