<div class="container">
    <div class="row d-flex justify-content-end">
        <div class=" btnCadUsuario">
            <button type="button" class="btn btn-secondary">Cadastrar usuario</button>
            <button type="button" class="btn btn-warning">Cadastrar cliente</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <input type="text" class="xxx">
        <button>Buscar</button>
    </div>
    <div class="row">
        <table class="table">
            <thead class="cabecalhoTabela">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Cpf</th>
                    <th scope="col">Setor</th>
                    <th scope="col">Rua</th>
                    <th scope="col">Endereco</th>
                    <th scope="col">Complemento</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Joao Da Silva Carvalho</td>
                    <td>12345678910</td>
                    <td>Garavelo</td>
                    <td>Assis chartoubrian</td>
                    <td>Qd 21 lt 99</td>
                    <td>Casa</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>